# Dependencies
node_modules/

# Build Output (TypeScript)
*.js
!jest.config.js
*.d.ts
dist/

# CDK & AWS
cdk.out/
.cdk.staging/

# Security (CRITICAL)
.env

# Testing & Logs
coverage/
test-reports/
npm-debug.log
yarn-error.log

# Misc
.DS_Store